---
import BaseLayout from "./BaseLayout.astro";
import TagsList from "../components/TagsList.astro";

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <code>{frontmatter.pubDate}</code>
    <p>Written by {frontmatter.author}</p>
    <slot />

    <TagsList tags={frontmatter.tags.sort()} />
</BaseLayout>
